<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.29.1" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.29.1" targetFramework="net45" />
  <package id="Google.Apis.Customsearch.v1" version="1.29.1.896" targetFramework="net45" />
  <package id="Google.Apis.SearchConsole.v1" version="1.29.1.988" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net45" />
</packages>